<h1>Users</h1>
  
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Email</th>
          <th>Active</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users">
          <td>{{user.id}}</td>
          <td>{{user.name}}</td>
          <td>{{user.email}}</td>
          <td>{{user.active ? 'Active' : 'Inactive'}}</td>
          <td>
            <button (click)="onDelete(user.id)">X</button>
            <button (click)="onEdit(user)">Edit</button>
          </td>
        </tr>
      </tbody>

    </table>
    <user *ngIf="adding" 
          [user]="newUser"
          (saved)="onSaved($event)"
          (cancelled)="onCancelAdd()">
    </user>
  
    <user *ngIf="editing"
          [user]="userToEdit"
          (saved)="onUpdated($event)"
          (cancelled)="onCancelEdit()"
          title="Edit User">
    </user>

    <button (click)="onAdd()">Add User</button>
